* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body,
html {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 0;
    overflow: scroll;
}

div.vine {
    display: inline-block;
    position: relative;
    width: 580px;
    height: 100%;
    overflow: hidden;
    background-image: url(img/background.jpg);
    background-position-x: -75px;
    background-size: cover;
    background-repeat: no-repeat;
}

div.vine img {
    position: relative;
    height: 100%;
}

div.catalog {
    display: inline-block;
    position: inherit;
    width: 970px;
    height: 100%;
    overflow-y: scroll;
    font-size: 0;
    display: none;
}

div.item input {
    background: red;
    position: relative;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 80%;
    height: 34%;
    width: 33%;
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
}

div.item input:hover {
    color: #000000;
}

div.item_catalog {
    display: inline-block;
    position: relative;
    width: 320px;
    height: 480px;
}

div.item_catalog_border {
    position: relative;
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    margin: 20px 20px 0px 20px;
    border: 1px solid;
    background: #ffffff;
    border-color: orange;
}

div.item_catalog_picture {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 10px 10px 10px 10px;
    width: calc(100% - 20px);
    height: calc(50% - 20px);
    background: #ddd;
}

div.item_catalog_name {
    display: inline-block;
    position: relative;
    margin: 0 0 10px 10px;
    width: calc(70% - 20px);
    height: calc(20% - 10px);
}

div.item_catalog_name p {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 22px;
}

div.item_catalog_price {
    display: inline-block;
    position: relative;
    margin: 0 10px 10px 0;
    width: 30%;
    height: calc(20% - 10px);
    vertical-align: top;
}

div.item_catalog_price p {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 1;
    text-align: right;
    font-family: monospace;
}

div.item_catalog_year {
    display: inline-block;
    position: relative;
    margin: 10px 0 10px 10px;
    width: calc(50% - 20px);
    height: calc(10% - 10px);
}

div.item_catalog_year p {
    font-size: 14px;
}

div.item_catalog_button {
    display: inline-block;
    position: relative;
    margin: 0 10px 10px 10px;
    width: calc(100% - 20px);
    height: calc(20% - 20px);
    background: red;
}

div.item_catalog_button input {
    background: red;
    position: relative;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
}

div.item_catalog_button input:hover {
    color: #000000;
}

div.item {
    vertical-align: top;
    position: relative;
    width: 750px;
    height: 300px;
    font-size: 20px;
    left: 120px;
    top: calc(50% - 150px);
    display: inline-block;
    letter-spacing: 0;
}

div.item p {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
    font-size: 32px;
    color: #ddd;
    font-style: italic;
}

div.item h1 {
    display: inline-block;
    width: 100%;
    font-size: 70px;
    color: red;
    margin-bottom: 10px;
}

div.item input {
    background: red;
    position: relative;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    width: 150px;
    height: 60px;
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
}

div.more_items {
    display: block;
    position: relative;
    height: 150px;
    width: 100%;
}

div.more_items input {
    background: red;
    position: relative;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    height: 40px;
    left: calc(33.3% + 30px);
    width: calc(33.3% - 60px);
    top: 20px;
    border: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
}

div.more_items input:hover {
    color: #000000;
}

div.shopping_cart {
    width: 970px;
    height: 70px;
    position: absolute;
    top: calc(100% - 70px);
    left: 580px;
    z-index: 2;
    background: #ddd;
    display: none;
}

div.shopping_cart div {
    position: relative;
    display: inline-block;
    width: 33.3%;
    height: 100%;
    font-size: 0;
    vertical-align: top;
}

div.shopping_cart p {
    font-size: 26px;
    display: inline-block;
    position: relative;
    margin-left: 20px;
    top: calc(50% - 13px);
}

div.shopping_cart p.shop_cart_bottle_cnt {
    margin-left: 10px;
}

div.shopping_cart p.shop_cart_price_cnt {
    margin-left: 10px;
}

div.shopping_cart a {
    background: red;
    position: relative;
    display: block;
    line-height: 1.5;
    text-align: center;
    font-family: sans-serif;
    font-size: 26px;
    top: 20%;
    left: 25%;
    height: 60%;
    width: 50%;
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
}

div.shopping_cart a:hover {
    color: #000000;
}